# 1)

#### Take some time to look through the datasetâ€™s description in EDI and click around. Discuss the following questions with your team:

### What is this data about?
Population fluctuations among snowshoe hairs in Alaskan wilderness

### During what time frame were the observations in the dataset collected?
June 1, 1999 - September 14, 2012

### Does the dataset contain sensitive data?
No

### Is there a publication associated with this dataset?

This dataset contains physiological data for hares that are trapped and tracked in Alaska wilderness. The purpose of the data is to study population dynamics of the hare species.

![Nice Doggy](https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg/1452px-SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg?20170313021652)
This file is made available under the Creative Commons CC0 1.0 Universal Public Domain Dedication

In [5]:
import pandas as pd
import numpy as np

In [13]:
URL = "https://pasta.lternet.edu/package/data/eml/knb-lter-bnz/55/22/f01f5d71be949b8c700b6ecd1c42c701"
hares= pd.read_csv(URL)
hares.head()

,date,time,grid,trap,l_ear,r_ear,sex,age,weight,hindft,notes,b_key,session_id,study
0,11/26/1998,NaN,bonrip,1A,414D096A08,NaN,NaN,NaN,1370.0,160.0,NaN,917.0,51,Population
1,11/26/1998,NaN,bonrip,2C,414D320671,NaN,M,NaN,1430.0,NaN,NaN,936.0,51,Population
2,11/26/1998,NaN,bonrip,2D,414D103E3A,NaN,M,NaN,1430.0,NaN,NaN,921.0,51,Population
3,11/26/1998,NaN,bonrip,2E,414D262D43,NaN,NaN,NaN,1490.0,135.0,NaN,931.0,51,Population
4,11/26/1998,NaN,bonrip,3B,414D2B4B58,NaN,NaN,NaN,1710.0,150.0,NaN,933.0,51,Population

In [18]:
# Check nrows and ncols
hares.shape

(3380, 14)

In [21]:
# Check data types
hares.dtypes

date           object
time           object
grid           object
trap           object
l_ear          object
r_ear          object
sex            object
age            object
weight        float64
hindft        float64
notes          object
b_key         float64
session_id      int64
study          object
dtype: object

In [22]:
# Check NA values
hares.isnull().sum()

date             0
time          3116
grid             0
trap            12
l_ear           48
r_ear          169
sex            352
age           2111
weight         535
hindft        1747
notes         3137
b_key           47
session_id       0
study          163
dtype: int64

In [33]:
# Removed '0' NAs for hare weight
hares[hares['weight']==0] = np.nan

In [34]:
print(hares['weight'].min())
print(hares['weight'].max())

160.0
2365.0

In [35]:
print(hares['hindft'].min())
print(hares['hindft'].max())

60.0
160.0

In [44]:
# Very messy values for age and sex
print(hares['age'].unique())
print(hares['sex'].unique())

[nan 'J' 'A' 'a 1 yr.' 'a 3/4 yr.' 'a 1 yr' '1 yr' '1 yr.' '2 yrs.'
 '2 yrs' 'a 2 yrs.' '2.25 yrs' '3.5 yrs.' '3 yrs.' '2.5 yrs' '3.25 yrs.'
 'A 1.5' '?' 'U' 'j' 'a' 'u' 'J 3/4' 'A 3/4' 'A 1/2' '3/4/2013' '1/4/2013'
 '1/2/2013' '1' '1.25' '1.5']
[nan 'M' 'F' '?' 'F?' 'M?' 'pf' 'm' 'f' 'f?' 'm?' 'f ' 'm ']