Section-5-Earthquake

Find all earthquakes of magnitude 6.5 and above in 2014

In [1]:
import os
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
os.path.exists('data/ne_110m_admin_0_countries/ne_110m_admin_0_countries.shp')

True

In [11]:
raw_eqk = pd.read_csv("data/earthquake_data.csv")

fp = os.path.join('data', 'ne_110m_admin_0_countries', 'ne_110m_admin_0_countries.shp')
world_map = gpd.read_file(fp)

In [12]:
world_map.head()

,featurecla,scalerank,LABELRANK,SOVEREIGNT,SOV_A3,ADM0_DIF,LEVEL,TYPE,TLC,ADMIN,...,FCLASS_TR,FCLASS_ID,FCLASS_PL,FCLASS_GR,FCLASS_IT,FCLASS_NL,FCLASS_SE,FCLASS_BD,FCLASS_UA,geometry
0,Admin-0 country,1,6,Fiji,FJI,0,2,Sovereign country,1,Fiji,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,Admin-0 country,1,3,United Republic of Tanzania,TZA,0,2,Sovereign country,1,United Republic of Tanzania,...,None,None,None,None,None,None,None,None,None,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,Admin-0 country,1,7,Western Sahara,SAH,0,2,Indeterminate,1,Western Sahara,...,Unrecognized,Unrecognized,Unrecognized,None,None,Unrecognized,None,None,None,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,Admin-0 country,1,2,Canada,CAN,0,2,Sovereign country,1,Canada,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,Admin-0 country,1,2,United States of America,US1,1,2,Country,1,United States of America,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."

In [5]:
raw_eqk.head()

,time,latitude,longitude,depth,mag,id,place,type
0,2014-01-31 23:53:37.000,60.252000,-152.7081,90.20,1.10,ak11155107,"26km S of Redoubt Volcano, Alaska",earthquake
1,2014-01-31 23:48:35.452,37.070300,-115.1309,0.00,1.33,nn00436847,"32km S of Alamo, Nevada",earthquake
2,2014-01-31 23:47:24.000,64.671700,-149.2528,7.10,1.30,ak11151142,"12km NNW of North Nenana, Alaska",earthquake
3,2014-01-31 23:30:54.000,63.188700,-148.9575,96.50,0.80,ak11151135,"22km S of Cantwell, Alaska",earthquake
4,2014-01-31 23:30:52.210,32.616833,-115.6925,10.59,1.34,ci37171541,"10km WNW of Progreso, Mexico",earthquake

In [30]:
raw_eqk.dtypes

time          object
latitude     float64
longitude    float64
depth        float64
mag          float64
id            object
place         object
type          object
dtype: object

In [31]:
# Split time column into date and time
raw_eqk[['date','time_1']] = raw_eqk.time.str.split(" ",expand=True)

# Remove original time column and new time column
raw_eqk.drop(['time', 'time_1'], axis = 1, inplace = True)

In [35]:
# Check time range
raw_eqk.date.unique()

array(['2014-01-31', '2014-01-30', '2014-01-29', '2014-01-28',
       '2014-01-27', '2014-01-26', '2014-01-25', '2014-01-24',
       '2014-01-23', '2014-01-22', '2014-01-21', '2014-01-20',
       '2014-01-19', '2014-01-18', '2014-01-17', '2014-01-16',
       '2014-01-15', '2014-01-14', '2014-01-13', '2014-01-12',
       '2014-01-11', '2014-01-10', '2014-01-09', '2014-01-08',
       '2014-01-07', '2014-01-06', '2014-01-05', '2014-01-04',
       '2014-01-03', '2014-01-02', '2014-01-01', '2014-02-28',
       '2014-02-27', '2014-02-26', '2014-02-25', '2014-02-24',
       '2014-02-23', '2014-02-22', '2014-02-21', '2014-02-20',
       '2014-02-19', '2014-02-18', '2014-02-17', '2014-02-16',
       '2014-02-15', '2014-02-14', '2014-02-13', '2014-02-12',
       '2014-02-11', '2014-02-10', '2014-02-09', '2014-02-08',
       '2014-02-07', '2014-02-06', '2014-02-05', '2014-02-04',
       '2014-02-03', '2014-02-02', '2014-02-01', '2014-03-31',
       '2014-03-30', '2014-03-29', '2014-03-28', '2014-03-27',
       '2014-03-26', '2014-03-25', '2014-03-24', '2014-03-23',
       '2014-03-22', '2014-03-21', '2014-03-20', '2014-03-19',
       '2014-03-18', '2014-03-17', '2014-03-16', '2014-03-15',
       '2014-03-14', '2014-03-13', '2014-03-12', '2014-03-11',
       '2014-03-10', '2014-03-09', '2014-03-08', '2014-03-07',
       '2014-03-06', '2014-03-05', '2014-03-04', '2014-03-03',
       '2014-03-02', '2014-03-01', '2014-04-30', '2014-04-29',
       '2014-04-28', '2014-04-27', '2014-04-26', '2014-04-25',
       '2014-04-24', '2014-04-23', '2014-04-22', '2014-04-21',
       '2014-04-20', '2014-04-19', '2014-04-18', '2014-04-17',
       '2014-04-16', '2014-04-15', '2014-04-14', '2014-04-13',
       '2014-04-12', '2014-04-11', '2014-04-10', '2014-04-09',
       '2014-04-08', '2014-04-07', '2014-04-06', '2014-04-05',
       '2014-04-04', '2014-04-03', '2014-04-02', '2014-04-01',
       '2014-05-31', '2014-05-30', '2014-05-29', '2014-05-28',
       '2014-05-27', '2014-05-26', '2014-05-25', '2014-05-24',
       '2014-05-23', '2014-05-22', '2014-05-21', '2014-05-20',
       '2014-05-19', '2014-05-18', '2014-05-17', '2014-05-16',
       '2014-05-15', '2014-05-14', '2014-05-13', '2014-05-12',
       '2014-05-11', '2014-05-10', '2014-05-09', '2014-05-08',
       '2014-05-07', '2014-05-06', '2014-05-05', '2014-05-04',
       '2014-05-03', '2014-05-02', '2014-05-01', '2014-06-30',
       '2014-06-29', '2014-06-28', '2014-06-27', '2014-06-26',
       '2014-06-25', '2014-06-24', '2014-06-23', '2014-06-22',
       '2014-06-21', '2014-06-20', '2014-06-19', '2014-06-18',
       '2014-06-17', '2014-06-16', '2014-06-15', '2014-06-14',
       '2014-06-13', '2014-06-12', '2014-06-11', '2014-06-10',
       '2014-06-09', '2014-06-08', '2014-06-07', '2014-06-06',
       '2014-06-05', '2014-06-04', '2014-06-03', '2014-06-02',
       '2014-06-01', '2014-07-31', '2014-07-30', '2014-07-29',
       '2014-07-28', '2014-07-27', '2014-07-26', '2014-07-25',
       '2014-07-24', '2014-07-23', '2014-07-22', '2014-07-21',
       '2014-07-20', '2014-07-19', '2014-07-18', '2014-07-17',
       '2014-07-16', '2014-07-15', '2014-07-14', '2014-07-13',
       '2014-07-12', '2014-07-11', '2014-07-10', '2014-07-09',
       '2014-07-08', '2014-07-07', '2014-07-06', '2014-07-05',
       '2014-07-04', '2014-07-03', '2014-07-02', '2014-07-01',
       '2014-08-31', '2014-08-30', '2014-08-29', '2014-08-28',
       '2014-08-27', '2014-08-26', '2014-08-25', '2014-08-24',
       '2014-08-23', '2014-08-22', '2014-08-21', '2014-08-20',
       '2014-08-19', '2014-08-18', '2014-08-17', '2014-08-16',
       '2014-08-15', '2014-08-14', '2014-08-13', '2014-08-12',
       '2014-08-11', '2014-08-10', '2014-08-09', '2014-08-08',
       '2014-08-07', '2014-08-06', '2014-08-05', '2014-08-04',
       '2014-08-03', '2014-08-02', '2014-08-01', '2014-09-30',
       '2014-09-29', '2014-09-28', '2014-09-27', '2014-09-26',
       '2014-09-25', '2014-09-24', '2014-09-23', '2014-09-22',
       '2014-09-21', '2014-09-20', '2014-09-19', '2014-09-18',
       '2014-09-17', '2014-09-16', '2014-09-15', '2014-09-14',
       '2014-09-13', '2014-09-12', '2014-09-11', '2014-09-10',
       '2014-09-09', '2014-09-08', '2014-09-07', '2014-09-06',
       '2014-09-05', '2014-09-04', '2014-09-03', '2014-09-02',
       '2014-09-01', '2014-10-31', '2014-10-30', '2014-10-29',
       '2014-10-28', '2014-10-27', '2014-10-26', '2014-10-25',
       '2014-10-24', '2014-10-23', '2014-10-22', '2014-10-21',
       '2014-10-20', '2014-10-19', '2014-10-18', '2014-10-17',
       '2014-10-16', '2014-10-15', '2014-10-14', '2014-10-13',
       '2014-10-12', '2014-10-11', '2014-10-10', '2014-10-09',
       '2014-10-08', '2014-10-07', '2014-10-06', '2014-10-05',
       '2014-10-04', '2014-10-03', '2014-10-02', '2014-10-01',
       '2014-11-30', '2014-11-29', '2014-11-28', '2014-11-27',
       '2014-11-26', '2014-11-25', '2014-11-24', '2014-11-23',
       '2014-11-22', '2014-11-21', '2014-11-20', '2014-11-19',
       '2014-11-18', '2014-11-17', '2014-11-16', '2014-11-15',
       '2014-11-14', '2014-11-13', '2014-11-12', '2014-11-11',
       '2014-11-10', '2014-11-09', '2014-11-08', '2014-11-07',
       '2014-11-06', '2014-11-05', '2014-11-04', '2014-11-03',
       '2014-11-02', '2014-11-01', '2014-12-31', '2014-12-30',
       '2014-12-29', '2014-12-28', '2014-12-27', '2014-12-26',
       '2014-12-25', '2014-12-24', '2014-12-23', '2014-12-22',
       '2014-12-21', '2014-12-20', '2014-12-19', '2014-12-18',
       '2014-12-17', '2014-12-16', '2014-12-15', '2014-12-14',
       '2014-12-13', '2014-12-12', '2014-12-11', '2014-12-10',
       '2014-12-09', '2014-12-08', '2014-12-07', '2014-12-06',
       '2014-12-05', '2014-12-04', '2014-12-03', '2014-12-02',
       '2014-12-01'], dtype=object)

In [37]:
# Change date to datetime
raw_eqk.date = pd.to_datetime(raw_eqk.date)

In [15]:
himag_eqk = raw_eqk[(raw_eqk['type'] == 'earthquake') & (raw_eqk['mag'] >= 6.5)]

In [16]:
himag_eqk.head()

,time,latitude,longitude,depth,mag,id,place,type
9062,2014-01-01 16:03:29.000,-13.8633,167.2490,187.00,6.5,usc000lvb5,"32km W of Sola, Vanuatu",earthquake
12142,2014-02-18 09:27:13.120,14.6682,-58.9272,14.83,6.5,usc000mskt,"172km NNE of Bathsheba, Barbados",earthquake
14025,2014-02-12 09:19:49.060,35.9053,82.5864,10.00,6.9,usc000mnvj,"272km ESE of Hotan, China",earthquake
15979,2014-02-07 08:40:13.550,-15.0691,167.3721,122.00,6.5,usc000mjye,"34km E of Port-Olry, Vanuatu",earthquake
17606,2014-02-02 09:26:37.820,-32.9076,-177.8806,44.26,6.5,usc000mfm0,"189km SSE of L'Esperance Rock, New Zealand",earthquake